#about {
  background-color: rgb(247, 247, 247) !important;
  padding-top: 16px !important;
  margin: 16px 0;
  outline: 0px;
  display: block;
  width: 80%;
  position: relative;
  left: 10%;

  line-height: 1.4285;
  color: rgb(51, 51, 51);
  font-family: Targetica, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

.title {
  text-align: center;
}