#about {
  background-color: rgb(247, 247, 247) !important;
  margin: 16px 0; /* exterior spacing */
  padding-top: 16px !important; /* interior spacing */
  display: block;
  width: 80%; 
  position: relative;
  left: 10%;

  color: rgb(51, 51, 51);
  font-family: "Helvetica for Target", HelveticaForTarget, Targetica, "HelveticaNeue for Target", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

.title {
  text-align: center;
  vertical-align: baseline;
  font-weight: bold;
  line-height: 1.25;
  font-size: 23px;
  margin: 0px 0px 10px;
}

.subcomp {
  margin-left: 16px !important;
  display: block;
}

.tabs {
  border-bottom: 1px solid rgb(136, 136, 136);
  display: block;
}

.tabList {
  padding-inline-start: 0px;
  list-style: outside none none; /* type position image */
  margin: 0px auto;
  padding: 3px 1px 0px;
  display: table;
}

.tabHeader {
  font-size: 16px;
  line-height: 1.4285;
  display: table-cell;
  text-align: center;
  white-space: nowrap;
  border-bottom: 3px solid transparent;
  padding: 6px 15px;
  transition: border-color 200ms ease 0s;
}

/* DETAILS TAB */

.details {
  font-size: 14px;
  padding-right: 15px;
  padding-bottom: 15px;
  display: block;
}

.detailContent {
  margin-top: 16px;
  margin-bottom: 32px;
  height: 100%;
  overflow: hidden;
  display: block;
}

.detailTop {
  margin: 16px;
}

.highlights {
  height: 100%;
  background-color: white;
  margin-left: 16px;
  margin-right: 16px;
  padding: 4px;
}

.highlightsHeader {
  margin-left: 16px;
  margin-top: 16px;
  font-size: 16px;
  font-weight: bold;
}

.highlightList {
  margin: 0px 16px 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: initial;
  margin-block-start: 0px;
  padding-inline-start: 0px;
}

.highlightBorder {
  padding-right: 16px;
  padding-top: 12px;
  flex-grow: 1;
  flex-basis: 25%;
  max-width: 25%;
  box-sizing: border-box;
}

.highlight {
  margin-left: 20px;
  display: list-item;
  list-style-type: disc;
  list-style-position: outside;
}

.lowerDeets {
  margin: 16px;
  display: block;
  background-color: white;
  padding: 16px 4px;
}

.specs {
  padding: 0px 16px;
  margin-left: initial;
  flex-basis: 50%;
  max-width: 50%;
  flex-direction: row;
  box-sizing: border-box;
  display: block;
}

.specsHeader {
  margin: 0px 0px 16px;
  font-size: 16px;
  
}

.spec {
  display: block;
  font-size: 16px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-width: 1px;
  border-bottom: 1px solid rgb(214, 214, 214);
}